body {
  font-family: sans-serif;
  text-align: center;
  background: #e0f7fa;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px;
  background: white;
  margin: 5px auto;
  width: 60%;
  border-radius: 5px;
}
li.done {
  text-decoration: line-through;
  color: gray;
}
